{% extends "base.html" %}

{% block title %} 编辑学院 {% endblock %}

{% block main-left %}

<h3>编辑群组信息--{{group.name}}</h3>
<form action="/user/modify/group/{{group.id}}" method="POST">
{%csrf_token%}
    <p>群组名称：<input type="text" name="groupname" value="{{group.name}}" /></p>
    <p>所属学院：<select name="school">
    {%for s in schools%}
        <option value="{{s.id}}">{{s.name}}</option>
    {%endfor%}
    </select></p>
    <p><input type="submit" value="提交" /></p>
</form>
<p><a href="/user/modify/group/{{group.id}}/addmember">添加组员！</a></p>
<p>群组成员：</p>
    {% for u in users %}
        <p>{{u.username}} <a href="/user/modify/group/{{group.id}}/delmember/{{u.uid}}">从群组中删除</a><p>
    {%endfor%}
{% endblock %}

{% block main-right %}
{% endblock %}
