{% extends "newtpl/admin.html" %}

{% block title %} {% if tpl.update %}修改{% else %}添加{% endif %}课程分班 {% endblock %}

{% block page-header %}
{% if tpl.update %}
<h1> 修改课程分班 <small>{{ course_class.getFullName }}</small> </h1>
{% else %}
<h1> 添加课程分班 <small>{{ course.name }}</small> </h1>
{% endif %}
{% endblock %}

{% block admin-access %}
{% if tpl.update %}
<a class="btn btn-info btn-block" href="{% url 'Course:showCourseClass' course_class.id %}">返回课程分班</a>
{% else %}
<a class="btn btn-info btn-block" href="{% url 'Course:showCourse' course.id %}">返回课程</a>
{% endif %}
{% endblock %}

{% block admin-form %}
<form action="{% if tpl.update %}{% url 'Course:updateCourseClass' course_class.id %}{% else %}{% url 'Course:addCourseClass' course.id %}{% endif %}" method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <p><input type="submit" value="提交" /></p>
</form>
{% endblock %}
