{% extends "newtpl/register/base.html" %}
<style>
    .note {
        font-weight: bold;
        font-size: 12px;
    }
</style>
{% block title %}首页{% endblock %}
{% block main %}
      <div class="jumbotron">
        <h1>2014年校赛</h1>
        <hr />
        <p class="lead">2014年北京邮电大学程序设计竞赛已经开始报名，所有正式注册的北京邮电大学在读学生（含博士生、硕士生和本科生）均可报名参赛。</p>
        <p class="lead">报名截止时间：3月14日（周五） 14:00</p>
        <p class="lead">网络预赛时间：3月16日（周日） 13:00-18:00</p>
        <p class="lead">现场决赛时间：3月23日（周日） 09:30-14:30</p>
        <p class="lead">比赛详细信息请关注<a href="http://bbs.byr.cn/#!article/ACM_ICPC/77325">北邮人论坛算法版</a></p>
        <p class="note">报名后请记得添加队员</p>
        <a class="btn btn-large btn-success" href="#" disabled>报名已经截止</a>
        <a class="btn btn-large btn-info" href="{% url 'Register:team_login' %}">修改队伍信息</a>
      </div>
{% endblock %}
