{% extends "newtpl/register/base.html" %}
{% block title %}所有队伍{% endblock %}
{% block main %}
<div class="team-info">
    <h2>Pending: {{ pending }} &nbsp; &nbsp; Accepted: {{ accepted }} &nbsp; &nbsp; Failed: {{ failed }} &nbsp; &nbsp; Skipped: {{ skipped }}
        <center>
            <a href="{% url 'Register:judge_team' %}" class="btn btn-success" style="margin-top: 10px; margin-bottom: 10px">审核</a>
            <a href="{% url 'Register:admin_logout' %}" class="btn btn-warning" style="margin-top: 10px; margin-bottom: 10px">管理员登出</a>
        
        </center>
    </h2>
    <table class="table table-hover">
        <tr>
            <th width="5%">Num.</th>
            <th>队伍</th>
            <th>成员</th>
            <th width="10%">状态</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a data-toggle="collapse">{{ team.info.name }}</a>
            </td>
            <td>
                {% for member in team.members %}
                {{ member.name }}({{member.gender}}) &nbsp; 
                {% endfor %}
            </td>
            <td>{{ team.info.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
