{% extends "newtpl/admin.html" %}

{% block title %}
{# with can only be used in block #}
{{ contest_problem.problem.prob_title }}
{% endblock %}

{% block page-header %}
 <h1>{{ contest_problem.problem.prob_title }} <small>{{ contest_problem.contest.contest_title }}</small> </h1>
{% endblock page-header %}

{% block admin-access %}
{% with c=contest_problem.contest p_index=contest_problem.problem_index %}
<a class="btn btn-primary btn-block" href="{% url 'Submission:submit' c.cid p_index %}">提交代码</a>
<a class="btn btn-info btn-block" href={%url 'Problem:contest_problem' c.cid p_index %}>返回题目</a>
<a class="btn btn-info btn-block" href="{% url 'Submission:contest_status' c.cid %}{{ status_query }}">结果列表</a>
<a class="btn btn-info btn-block" href={%url 'Contest:show_contest' c.cid %}>&laquo;返回测验首页</a>
{% endwith %}
{% endblock admin-access %}

{% block admin-form %}

{% block info %}
{% with c=contest_problem.contest p=contest_problem.problem p_index=contest_problem.problem_index %}

<h3>时间限制: </strong>{{ p.prob_time }} ms 内存限制: </strong>{{ p.prob_memory }} KB</h3>
{% if p.is_spj %}
<span><strong>Special Judge </strong></span>
{% endif %}

{% endwith %}
{% endblock info %}

{% block graph %} 
<h2>统计图表<h2>

<div id="graphpie" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

{% endblock graph %}
{% block content %} 
<h2>正确提交</h2>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <th>排名</th>
        <th>用户</th>
        <th>时间</th>
        <th>内存</th>
        <th>语言</th>
        <th>代码长度</th>
        <th>提交时间</th>
    </thead>
    {% for s in submissions %}
    {% with idx=s.problem_index.problem_index %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'User:viewuser' s.user.uid %}">{{ s.user.username }}</a></td>
        <td><span class="">{{ s.run_time }} ms</span></td>
        <td>{{ s.run_memory}} KB</td>
        <td>{{ s.get_code_language_display }}</td>
        <td><a href="{% url 'Submission:code_and_info' s.sid %}" > {{ s.code_length}} B</a></td>
        <td>{{ s.submission_time|date:"Y-m-d H:i:s" }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
</table>

{% endblock content %}

{% endblock admin-form %}
{% block ext-script %}
		<script type="text/javascript">
            $(function () {
                    $('#graphpie').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '本题的结果分布'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.y} </b>',
            	percentageDecimals: 1,
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 1, '.') +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '提交数',
                data: [
                    {% for status in status_list %}
                      {% if status.name != '通过' %}
                      {% if status.number > 0 %}
                      [ '{{ status.name}}', {{ status.number }}],
                          {% endif %}
                      {% else %}
                      {% if status.number > 0 %}
                      { name: '{{ status.name}}', 
                        y: {{ status.number }},
                        sliced: true,
                        selected: true
                      },
                          {% endif %}
                      {% endif %}
                      {% endfor %}
                ]
            }]
        });
    });
    

		</script>
<script src="/static/js/highcharts/highcharts.js"></script>
<script src="/static/js/highcharts/modules/exporting.js"></script>
{% endblock %}
