{% extends "base.html" %}

{% block title %} 课程分组列表 {% endblock %}

{% block main-left %}
<h2> 课程分班{{ course_class.name }} </h2>
<h3> 所属课程：{{ course_class.course.id }} {{ course_class.course.name }} </h3>
<h3> 管理员：<a href="{% url 'User:viewuser' course_class.admin.uid %}" target="blank">{{ course_class.admin }}</a>{% if template_tags.can_set_admin %} <a href="{% url 'Course:setCourseClassAdmin' course_class.id %}">修改</a>{% endif %}</h3>
<h3> 开设年份：{{ course_class.year }} </h3>
<h3> 考试列表：共{{ contests|length }}个考试 </h3>

{% if fake %}
{# we should use js here? #}
<div class="pagination">
    {% if contests.has_previous %}
    <a href="{% url 'Contest:list_contest' course_class contests.previous_page_number %}" title="Pre">上一页</a>
    {% endif %}
    {% for p in page_range %}
    {% ifequal p contests.number %}
    <span style="font-size:16px;" title="当前页"><b>{{ p }}</b></span>        
    {% else %}
    <a href="{% url 'Contest:list_contest' p %}" title="第{{ p }}页">{{ p }}</a>
    {% endifequal %}
    {% endfor %}     
    {% if contests.has_next %}
    <a href="{% url 'Contest:list_contest' course_class contests.previous_page_number %}" title="Next">下一页</a>
    {% endif %}  
    <b>
        {%if contests.paginator.num_pages %}
        共 {{ contests.paginator.num_pages }} 页
        {% endif %}
    </b>
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <tr>
        <th width="10%">考试编号</th>
        <th width="30%">名称</th>
        <th width="20%">开始时间</th>
        <th width="10%">状态</th>
        <th width="10%">持续时间</th>
        <th width="10%">类型</th>
        {% ifequal user.priv "courseclass" %}
        <th width="10%">修改考试</th>
        {% endifequal %}
        {% for c in contests %}
        <tr>
            <td> {{ c.id }} </td>
            <td><a href="{% url 'Contest:show_contest' c.id %}"> {{ c.title }}</a></td>
            <td> {{ c.start_time }} </td>
            <td> {{ c.status }} </td>
            <td> {{ c.length }} </td>
            <td> {{ c.type }} </td>
            {% ifequal user.priv "courseclass" %}
            <td><a href="{% url 'Contest:update_contest' c.id %}"> 修改考试</a></td>
            {% endifequal %}
        </tr>
        {% endfor %}
    </table>

    {% if template_tags.can_show%}
    <h3> 群组列表：共{{ groups|length }}个群组 </h3>
    <table class="table table-striped table-bordered">
        <th width="10%">ID</th>
        <th width="20%">名称</th>
        <th width="10%">所属学院</th>
        <th width="10%">群组成员</th>
        {% for group in groups %}
        <tr>
            <td> {{ forloop.revcounter }} </td>
            <td> <a href="{% url 'User:modifygroup' group.id %}">{{ group.name }}</a> </td>
            <td> {{ group.school.name }} </td>
            <td> {{ group.users.count }} </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if template_tags.can_modify %}
    <h3> 添加群组：从{{ course_class.course.school }}的{{ groups_waiting|length }}个群组中 </h3>
    <table class="table table-striped table-bordered">
        <th width="10%">ID</th>
        <th width="20%">名称</th>
        <th width="10%">群组成员</th>
        <th width="10%">添加群组</th>
        {% for group in groups_waiting %}
        <tr>
            <td> {{ forloop.revcounter }} </td>
            <td> <a href="{% url 'User:modifygroup' group.id %}">{{ group.name }}</td>
            <td> {{ group.users.count }} </td>
            <td><a href="{% url 'Course:addGroup' course_class.id group.id %}"> 添加该组 </a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h3> 题目列表：共{{ problems|length }}道题目 </h3>
    <table class="table table-striped table-bordered">
        <th width="10%">ID</th>
        <th width="10%">名称</th>
        <th width="10%">属性</th>
        {% ifequal user.priv "courseclass" %}
        <th width="10%">修改</th>
        <th width="10%">删除</th>
        {% endifequal %}
        {% for problem in problems %}
        <tr>
            <td> {{ forloop.revcounter }} </td>
            <td><a href="{% url 'Problem:problem' problem.pid %}"> {{ problem.prob_title }} </a></td>
            <td> {{ problem.prob_priv }} </td>
            {% ifequal user.priv "courseclass" %}
            <td><a href="{% url 'Problem:updateproblem' problem.pid %}"> 更新题目  </a></td>
            <td><a href="{#% url 'Problem:deleteproblem' problem.pid %#}"> 删除题目  </a></td>
            {% endifequal %}
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
    {% block main-right %}
    {% if template_tags.can_modify %}
    <p><a href="{% url 'Problem:addproblem' %} {#course.id %#}"> 添加题目 </a></p>
    <p><a href="{% url 'Contest:add_contest' course_class.id %}"> 添加考试 </a></p>
    {% endif %}
    {% ifequal user.priv "courseclass" %}
    <p><a href="{% url 'Problem:addproblem' %} {#course.id %#}"> 添加题目 </a></p>
    <p><a href="{% url 'Contest:add_contest' course_class.id %}"> 添加考试 </a></p>
    <p><a href="{% url 'Course:listCourseClass' %}"> 返回我管理的课程分班列表 </a></p>
    {% else %}
    <p><a href="{% url 'Course:showCourse' course_class.course.id %}"> 返回课程 </a></p>
    {% endifequal %}
    {% if template_tags.can_show %}
    <p><a href="{% url 'Course:listAllStudents' course_class.id %}" > 查看全体分班成员 </a></p>
    {% endif %}
    {% endblock %}
