{% extends "base.html" %}

{% block title %} 添加考试 {% endblock %}

{% block main-left %}
<script src="/static/js/contest.js"></script>    
<form action="{% url 'Contest:add_contest' ccid %}" method="POST" enctype="multipart/form-data" onSubmit="return checkAllProblem()">
{% csrf_token %}
<table class="table table-bordered">
{{ form.as_table }}
</table>
{% if recent_problem %}
<p><b>最近添加的题目：</b></p>
<div style="width:600px; height:300px; overflow:auto">
<table class="table" id="recent_problem_table">
<tbody>
<tr>
<th width="20%" class="problem_id">题目ID</th>
<th width="60%" class="problem_title">题目标题</th>
<th width="20%">添加</th>
</tr>
{% for p in recent_problem %}
<tr>
<td><class="recent_problem_id" id="recent_problem_id_{{ forloop.counter }}">{{ p.pid }}</td>
<td><class="recent_problem_title" id="recent_problem_title_{{ forloop.counter }}">{{ p.prob_title }}</td>
<td><button type="button" onclick="addRecentProb({{ forloop.counter }})">添加</button></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
<table class="table table-bordered" id="problem_table">
<tbody>
<tr>
<th width="10%" class="problem_modify"><button type="button" onclick="addProb()">添加</button></th>
<th width="30%">题目ID</th>
<th width="30%" class="problem_title_custom">自定义标题</th>
<th width="30%" class="problem_title">默认标题</th>
</tr>
{% for p in problem_list %}
<tr id="problem_{{ p.idx }}">
<td class="problem_modify"><button type="button" onclick="delProb({{ p.idx }})">删除</button></td>
<td><input type="text" name="problem_id" id="problem_id_{{ p.idx }}" onchange="checkProblem({{ p.idx }})" value="{{ p.pid }}" autocomplete="off"></td>
<td><input type="text" name="problem_title_custom" id="problem_title_custom_{{ p.idx }}" value="{{ p.title }}"></td>
<td><class="problem_title" id="problem_title_{{ p.idx }}">{{ p.title }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="提交">
</form>
{% endblock %}

{% block main-right %}
<p><a href="{% url 'Course:showCourseClass' ccid %}"> 返回课程分班 </a></p>
{% endblock %}
