{% extends "newtpl/register/base.html" %}
{% block title %}2014年新生赛 - 报名{% endblock %}
{% block main %}
<form method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">2014年新生赛 - 报名</h2>
    <hr />
    <p><b>注意: 虽然50/70的题数限制不是硬性规定，但由于现场人数限制，报名之后我们还是会根据题数通过情况进行筛选，因此请尽量不要在题数信息上留空。</b></p>
    <label>姓名：</label><input type="text" class="input-block-level" name="realname" placeholder="姓名" autofocus required>
    <label>性别：</label><input type="text" class="input-block-level" name="gender" placeholder="男/女" required>
    <label>学院：</label><input type="text" class="input-block-level" name="school" placeholder="计算机学院/信通院/电子工程学院/自动化学院/理学院/软件学院/国际学院/经管学院/数媒院" required>
    <label>学号：</label><input type="text" class="input-block-level" name="student_id" placeholder="学号" required>
    <label>班级：</label><input type="text" class="input-block-level" name="class_id" placeholder="班级" required>
    <label>Email(重要)：</label><input type="text" class="input-block-level" name="email" placeholder="Email(重要)" required>
    <label>手机(重要)：</label><input type="text" class="input-block-level" name="mobile" placeholder="手机(重要)" required>
    <label>在各OJ上（如POJ, ZOJ, Codeforces等）的ID和通过题数，每个OJ一行，若没有则写'无'</label><textarea class="span7" rows="10" name="otherinfo" placeholder="在各OJ上（如POJ, ZOJ, Codeforces等）的ID和通过题数，每个OJ一行，若没有则写‘无’"></textarea>
    <hr />
    <button class="btn btn-large btn-primary" type="submit">信息确认无误，报名</button>
</form>
{% endblock %}
