{% extends "newtpl/register/base.html" %}
{% block title %}修改信息 - {{ contestant.team.name }}{% endblock %}
{% block main %}
<div class="log-page">
    <h1 class="form-signin-heading">修改信息<small> - <a href="{% url 'Register:team_info' contestant.team.pk %}">{{ contestant.team.name }}</a></small></h1>
    <hr />
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td width="30%">姓名</td>
                <td><input name="name" type="text" class="input-block-level" value="{{ contestant.name }}" required autofocus></td>
            </tr>
            <tr>
                <td width="30%">性别</td>
                <td>
                    <select name="gender" class="input-block-level">
                        {% for option in gender_choices %}
                        <option{% ifequal option contestant.gender %} selected="selected"{% endifequal %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td width="30%">学院</td>
                <td>
                    <select name="school" class="input-block-level">
                        {% for option in school_choices %}
                        <option{% ifequal option contestant.school %} selected="selected"{% endifequal %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td width="30%">年级</td>
                <td>
                    <select name="grade" class="input-block-level">
                        {% for option in grade_choices %}
                        <option{% ifequal option '大一' %} selected="selected"{% endifequal %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td width="30%">Email</td>
                <td><input name="email" type="text" class="input-block-level" value="{{ contestant.email }}" required></td>
            </tr>
            <tr>
                <td width="30%">手机</td>
                <td><input name="mobile" type="text" class="input-block-level" value="{{ contestant.mobile }}" maxlength="11" required></td>
            </tr>
            <tr>
                <td width="30%">学号(10位数字)</td>
                <td><input name="student_id" type="text" class="input-block-level" value="{{ contestant.student_id }}" maxlength="10" required></td>
            </tr>
            <tr>
                <td width="30%">班级(10位班号)</td>
                <td><input name="class_id" type="text" class="input-block-level" value="{{ contestant.class_id }}" maxlength="10" required></td>
            </tr>
            <tr>
                <td width="30%">个人简单介绍（相关学科成绩，算法和语言基础，获奖情况，做题量等）</td>
                <td><input name="info" type="text" class="input-block-level" value="{{ contestant.info }}" maxlength="500"></td>
            </tr>
        </table>
        <hr />
        <button class="btn btn-large btn-warning" type="submit">提交修改</button>
    </form>
</div>
{% endblock %}
