{% extends "newtpl/register/base.html" %}
{% block title %}管理员登录{% endblock %}
{% block main %}
<style>
    .admin-page input {
        margin-top: 50px;
        margin-left: 25%;
        width: 50%;
    }
    .admin-button {
        width: 50%;
        margin: 10px 25%;
    }
</style>
<form method="POST" class="admin-page">
    {% csrf_token %}
    <input class="input-block-level" name="key" type="password" required autofocus />
    <button class="btn btn-large btn-info admin-button" type="submit">登录</button>
</form>
{% endblock %}
