{% block main %}
<table class="table table-hover">
    <thead>
        <th width="3%">Num</th>
        <th width="5%">姓名</th>
        <th width="3%">性别</th>
        <th width="10%">院系</th>
        <th>班级</th>
        <th>学号</th>
        <th>手机</th>
        <th>邮箱</th>
        <th>备注</th>
    </thead>
    {% for c in all %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.realname }}</td>
        <td>{{ c.gender }}</td>
        <td>{{ c.school }}</td>
        <td>{{ c.class_id }}</td>
        <td>{{ c.student_id }}</td>
        <td>{{ c.mobile }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.otherinfo }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
