{% extends "newtpl/register/base.html" %}
{% block title %}修改密码 - {{ target_team.name }}{% endblock %}
{% block main %}
<h2 class="form-signin-heading">修改密码<small> - {{ target_team.name }}</small>
    <hr />
</h2>
<div class="log-page">
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>姓名</td>
                <td><input type="text" class="input-block-level" value="{{ target_team.name }}" autofocus disabled></td>
            </tr>
            <tr>
                <td>登录密码</td>
                <td><input type="password" class="input-block-level" name="passwd1" placeholder="登录密码，在6到30位之间" required></td>
            </tr>
            <tr>
                <td>请确认密码</td>
                <td><input type="password" class="input-block-level" name="passwd2" placeholder="请再次确认密码" required></td>
            </tr>
        </table>
        <hr />
        <button class="btn btn-large btn-warning" type="submit">修改密码</button>
    </form>
</div>
{% endblock %}
