{% extends "newtpl/register/base.html" %}
{% block title %}登录{% endblock %}
{% block main %}
<h2 class="form-signin-heading">登录
    <hr />
</h2>
<div class="log-page">
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td width="30%">ID(昵称)</td>
                <td><input type="text" class="input-block-level" name="name" placeholder="姓名" maxlength="30" autofocus required></td>
            </tr>
            <tr>
                <td width="30%">登录密码</td>
                <td><input type="password" class="input-block-level" name="passwd" placeholder="登录密码" maxlength="30" required></td>
            </tr>
        </table>
        <hr />
        <button class="btn btn-large btn-info" type="submit">登录</button>
    </form>
</div>
{% endblock %}
