{% extends "newtpl/admin.html" %}

{% block title %} 添加群组 {% endblock %}

{% block admin-form %}

<h3>添加群组</h3>
<form action="/user/add/group/" method="POST">
{%csrf_token%}
    <p>群组名称：<input type="text" name="groupname" /></p>
    <p>所属学院：<select name="school">
    {% for s in school_cddt%}
        <option value="{{s.id}}"> {{s.fullname}} </option>
    {%endfor%}
    </select></p>
    <p><input type="submit" value="提交" /></p>
</form>
{% endblock %}

{% block admin-access %}
    <a class='btn btn-block' href='/user/manage/group'>返回班级管理</a>
{% endblock %}
