{% extends "newtpl/admin.html" %}

{% block title %}学院列表{% endblock %}
{% block page-header %}<h1>学院列表 <small>{{user.university.fullname}}</small></h1>{% endblock %}
{% block admin-form %}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <th>简称</th>
        <th>全名</th>
        <th>管理员</th>
        {%if tpl.can_manage%}
        <th>修改</th>
        {%endif%}
    </thead>
    <tbody>
        {% for s in school_list %}
        <tr>
        <td>{{s.name}}</td>
        <td><a href="{% url 'User:show_school' s.id %}">{{s.fullname}}</a></td>
        <td>{% if s.admin %}<a href="{% url 'User:viewuser' s.admin.uid %}">{{s.admin.username}}</a>{%else%}无{%endif%}</td>
        {%if tpl.can_manage%}
        <td><a href="{% url 'User:modifyschool' s.id %}" class="btn btn-warning">修改</a></td>
        {%endif%}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{%comment%}
{% block main-left %}
<h3>学院列表：共{{ school_list|length }}个学院 </h3>
<table class="table table-striped table-bordered">
    <th width="10%">编号</th>
    <th width="10%">简称</th>
    <th width="10%">称名</th>
    {% if not just_list %}
    <th width="10%">管理员</th>
    <th width="10%">修改学院</th>
    {% endif %}
    {% for s in school_list %}
    <tr>
        <td> {{ s.id }} </td>
        <td> {{s.name}}</td>
        <td> <a href="{% url 'User:show_school' s.id %}">{{s.fullname}}</a></td>
        {% if not just_list %}
        <td>管理员：{% if s.admin %}<a href="{% url 'User:viewuser' s.admin.uid %}">{{s.admin.username}} </a>{% else %}无{% endif %}</td>
        <td><a href="{% url 'User:modifyschool' s.id%}">修改</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
{%endcomment%}

{% block admin-access %}
{% if tpl.can_manage %}
<a class="btn btn-primary btn-block" href="{% url 'User:addschool' %}">添加学院</a>
{% endif %}
{% endblock %}
