{% extends "newtpl/base.html" %}
{% block title %}kAri Online Judge{% endblock %}
{% block main %}
<div class="hero-unit">
    <h1>hello, world!</h1>
    <p>kAri Online Judge, alias BUPT Online Judge v3, is a new featured online judge system powered by <a target="_blank" href="https://www.djangoproject.com/">django</a> with <a target="_blank" href="http://twitter.github.io/bootstrap/">bootstrap</a>.</p>
    <p>If you encounter a problem or find a bug, please send an email to <a href="mailto:buptacm-oj@googlegroups.com">bug mailing list</a> for help.</p>
    <p><a href="#" class="btn btn-large btn-primary">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="span6" id="updates">
        <h4>新闻与公告</h4>
        <ul>
            <li>2013-06-21: 暂时没有吉祥物，先让某人代言一下好了。</li>
        </ul>
    </div>
    <div class="span6" id="updates">
        <h4>更新日志</h4>
        <ul>
            <li>2013-11-10: FAQ完成</li>
            <li>2013-10-03: 判决结果页面与代码查重内核更新</li>
            <li>2013-08-25: 更新提交界面</li>
            <li>2013-05-29: kAri v2.8.1 alpha 管理员界面改版</li>
            <li>2013-05-20: kAri v2.8.0 alpha</li>
        </ul>
    </div>
</div>
{% endblock %}
