{% extends "newtpl/base.html" %}
{% block title %}用户手册{% endblock %}
{% block main %}
<h1>用户手册</h1>
<h2 id="关于系统">关于系统</h2>
<h3 id="人员">人员</h3>

<p>管理员分为四类</p>

<ol>
<li>学校管理员</li>
<li>学院管理员</li>
<li>课程管理员</li>
<li>课程分班管理员</li>
</ol>

<p>权限为1&gt;2&gt;3&gt;4</p>
OA
<p>学院管理员只能管理自己的学院，课程管理员和课程分班管理员同理。而学校管理员拥有管理该学校一切事物的权限。具体权限下文将会说明。</p>

<p>关于学生</pr

<ul>
<li>每个学生拥有唯一的用户名</li>
<li>每个学生只能属于一个学院</li>
<li>每个学生只能属于唯一的班级</li>
<li>每个学生可以属于多个课程分班</li>
</ul>

<p><em>注：课程分班是逻辑上的分班，实质为上这门课的班级集合</em></p>

<h3 id="题目">题目</h3>

<p>分为三类</p>

<ol>
<li>只有自己可见</li>
<li>所有教师可见</li>
<li>所有人可见</li>
</ol>

<p><em>注:学校管理员可以查看一切类型的题目</em> </p>

<h3 id="测验">测验</h3>

<p>所有管理员都可以添加自己能管理的课程分班的测验</p><div class="se-section-delimiter"></div>

<h3 id="其它">其它</h3>

<p>本系统在用户界面上不提供任何删除接口，请谨慎添加信息。如果发生非删不可得错误，请联系buptacm</p><div class="se-section-delimiter"></div>

<h2 id="管理员权限">管理员权限</h2><div class="se-section-delimiter"></div>

<h3 id="管理员-1">管理员</h3>

<p>学校管理员其它管理员进行操作，包括</p>

<ul>
<li>添加管理员</li>
<li>查看管理员信息</li>
<li>重置管理员密码</li>
</ul><div class="se-section-delimiter"></div>

<h3 id="学生">学生</h3>

<p>学校管理员对所有学生进行管理，操作有</p>

<ul>
<li>查看学生信息</li>
<li>批量导入学生 <br>
格式为：用户名，密码，学生姓名（后两项可省略）每行一个学生信息: <br>
<ul><li>自动补充 #+school的前缀</li>
<li>用户名必填</li>
<li>密码项为空则随机生成密码</li>
<li>密码项填’*’(不包括引号)，表示用户名和密码相同，其它字符串(不含空字符)为该用户初始密码</li>
<li>学生姓名项为空表示该项和用户名相同，否则该项为学生姓名</li>
<li>添加完成后可以下载包含新增用户信息的csv文件</li></ul></li>
<li>重置学生密码</li>
</ul>

<h3 id="班级">班级</h3>

<p>学校管理员对班级进行管理，操作有</p>

<ul>
<li>修改班级信息</li>
<li>添加班级成员</li>
<li>添加新班级</li>
<li>重置班级学生密码</li>
</ul>

<h3 id="学院">学院</h3>

<p>学校管理员对学院进行管理，操作有</p>

<ul>
<li>修改学院信息，包括学院简称,名称,管理员</li>
<li>查看学院管理员</li>
<li>添加学院</li>
</ul>

<h3 id="课程">课程</h3>

<p>学校管理员和学院管理员对课程进行管理，操作有</p>

<ul>
<li>添加课程</li>
<li>修改课程</li>
</ul><div class="se-section-delimiter"></div>

<h3 id="课程分班">课程分班</h3>

<p>管理员根据课程所属班级进行课程分班管理，操作有</p>

<ul>
<li>添加分班</li>
<li>修改分班</li>
</ul><div class="se-section-delimiter"></div>

<h3 id="题目-1">题目</h3>

<p>管理员对题目进行管理，操作有</p>

<ul>
<li>添加题目 <br>
<ul><li>需要选择所添加题目的标题，权限，时间限制和空间限制，代码长度限制</li>
<li>描述分为五个部分，题面，输入及输出格式要求，输入及输出样例</li>
<li>special judge</li></ul></li>
<li>修改题目</li>
<li>删除题目</li>
</ul><div class="se-section-delimiter"></div>

<h3 id="测试提交">测试提交</h3>

<p>学校管理员可以查看所有评测的结果，操作有</p>

<ul>
<li>查看所有的结果</li>
<li>根据题号，用户名，结果和语言进行筛选后查看结果</li>
<li>查看某次提交的题目，源代码和用户信息</li>
<li>重新判题</li>
</ul>

<h3 id="考试">考试</h3>

<p>学校管理员可以对测验进行管理，操作有</p>

<ul>
<li>添加测验</li>
<li>修改测验</li>
<li>查看学生代码</li>
<li>代码查重（考试结束之后）</li>
</ul>

{% endblock %}
