{% extends "base.html" %}

{% block title %} 排名情况 {{ p.pid }} {% endblock %}

{% block main-left %}

<p><a href="{% url 'Contest:show_contest' contest.cid %}">题目列表</a></p>
<script> var cid = {{ contest.cid }} </script>
<script src="/static/js/contest.js"></script>    
<b> 考试公告：</b>
<marquee id="contest_notice"  onmouseover="stop();"  onmouseout="start();"></marquee>
<h2> {{ contest.title }} </h2>
<p> {{ contest.now }} {{ contest.start_time }} {{ contest.status }} {{ contest.left }} </p>
{% for x in hehe %}
<span>{{x.problem_index}}</span>
{% endfor %}

<table class="table table-striped table-bodered">
<tr>
<th width="5%">排名</th>
<th width="10%">用户</th>
<th width="5%">通过数</th>
<th width="10%">罚时</th>
{% for pinfo in allProb %}
<th width="5%">题目{{ pinfo.problem_index }}</th>
{% endfor %}

</tr>
{% for person in rank %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ person.username }}</td>
    <td>{{ person.AC }}</td>
    <td>{{ person.pen }}</td>
    {% for pinfo in person.pinfo%}
    <td>尝试{{ pinfo.AC }}<br>罚时{{ pinfo.pen }}</td>
    {% endfor %}

</tr>
{% endfor %}

</table>

{% endblock %}

{% block main-right %}

<p><a href="{% url 'Contest:show_contest' contest.cid %}"> 返回考试</a></p>
{% endblock %}

