{% extends "newtpl/admin.html" %}
{% block title %}{{p.pid}}. {{p.prob_title}} - kAri Online Judge{% endblock %}
{% block page-header %}
{% if update %}
<h1>添加题目</h1>
{% else %}
<h1>更新题目</h1>
{% endblock %}

{% block prob-info %}
<script type="text/javascript" src="ckeditor/ckeditor/ckeditor.js"></script>
<table class="kari-prob-desc">
    {{form.as_table}}
</table>

<table>
    <tr>
    <tr>
</table>

<table class="kari-prob-desc" id="data_table" >
    <tr>
        <th width="10%" class="data_modifiy">
            <button type="button" onclick="addData()">添加</button>
        </th>
        <th width="40%" class="data_in">输入数据文件
        </th>
        <th width="40%" class="data_out">输出数据文件
        </th>
        <th width="10%" class="data_scr">数据得分
        </th>
    </tr>

</table>

{% endblock %}

{% block prob-info-ext %}
<!-- contest_notice -->
{% endblock %}

{% block main-right %}
<div class="well">
    <a class="btn btn-block" href={%url 'Problem:list' 1 %}>&laquo;返回题目列表</a>
    {%if tpl.can_manage%}
    <a class="btn btn-block">修改测验</a>
    {%endif%}
</div>

{% endblock %}
